In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%config InlineBackend.figure_formats = ['svg']

In [38]:
transactions = pd.read_parquet('transactions.parquet')
transactions.sample(5)

,sku_id,price,number,cheque_id,litrs,client_id,shop_id,date
7475783,278,0.005439,0.000452,143701,0.104183,328537.0,63,2171-03-03
5756675,1163,0.002524,0.000000,127627,0.144645,141469.0,8,2171-04-06
7019401,853,0.023345,0.000452,370789,0.104183,NaN,37,2171-03-12
6803219,2485,0.006106,0.000452,2387,0.104183,NaN,5,2171-03-16
4928201,1062,0.009646,0.000452,646379,0.104183,NaN,89,2171-04-22

In [3]:
sku_info = pd.read_parquet('nomenclature.parquet')
sku_info.sample(5)

,sku_id,full_name,brand,sku_group,OTM,units,country
2447,752,"Йогурт Чудо Детки питьевой 2,7% тутти фрутти п...",Чудо,Гастроном,Нет,г,РОССИЯ
3798,2568,unknown,unknown,Общественное питание,unknown,unknown,unknown
1130,2984,Термос Fly Cafe (СТМ)/G-Fly KD-BL-001 вакуумны...,Fly Cafe (СТМ),Сезонные товары,Да,л,КИТАЙ
2684,1599,Печенье BelVita Утреннее soft bakes цельнозерн...,BelVita,Кондитерские изделия,Нет,г,ЧЕШСКАЯ РЕСПУБЛИКА
2609,4541,Сигареты Winston compact Impulse shiny mix,Winston,Табачные изделия,Нет,шт,РОССИЯ

In [18]:
# В транзакциях пропуски есть только у айди клиента,
# и их больше половины => вряд ли стоит надеяться на коллаборативную фильтрацию
transactions.isnull().mean()

sku_id       0.000000
price        0.000000
number       0.000000
cheque_id    0.000000
litrs        0.000000
client_id    0.495052
shop_id      0.000000
date         0.000000
dtype: float64

In [29]:
# В номенклатуре пропусков не так много, обработаем их
none_sku = sku_info.loc[sku_info.isnull().any(axis=1), 'sku_id'].values

In [32]:
transactions.loc[transactions.sku_id.isin(set(none_sku))]

,sku_id,price,number,cheque_id,litrs,client_id,shop_id,date
0,1158,0.002335,0.0,3338297,0.147929,78634.0,102,2171-07-23
1,1158,0.002317,0.0,3386107,0.134562,20900.0,101,2171-07-23
4,1158,0.002355,0.0,3257281,0.115023,67691.0,58,2171-07-23
5,1158,0.002335,0.0,2968488,0.126051,204433.0,47,2171-07-23
6,1158,0.002355,0.0,2938011,0.127186,5016.0,81,2171-07-23
...,...,...,...,...,...,...,...,...
7620114,1159,0.002496,0.0,2262516,0.114416,83585.0,96,2171-03-01
7620115,1159,0.002512,0.0,2857410,0.145132,54793.0,84,2171-03-01
7620116,1159,0.002522,0.0,1814506,0.134552,159580.0,36,2171-03-01
7620117,1159,0.002496,0.0,2262671,0.114416,159383.0,96,2171-03-01
7620118,1158,0.002270,0.0,1764664,0.159197,192548.0,77,2171-03-01